body{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px auto auto;
  grid-template-areas: 
  'header header header'
  'sideL main sideR'
  'sideL main-bottom sideR';
  justify-items: center;
}
form{
  grid-area: main;
  background-color: #4eff92;
  place-items: center;
  padding:10px;
}
h1{
  grid-area: main-bottom;
  background-color: #ff604e;
  place-items: center;
  display: grid;
  padding:10px;
}
.search-box{
  width: 350px;
  height: 20px;
  border: solid 1px black;
}
.go{
  height: 20px;
  border: solid 1px black;
}